@font-face {
    font-family: "Cinzel";
    src: url("Fonts/Cinzel-Regular.ttf"), format("truetype");
    
}
@font-face {
    font-family: "Sometype";
    src: url("Fonts/SomeTypeMono-Regular.ttf"), format("truetype");
    
}
@font-face {
    font-family: "Cormorant";
    src: url("Fonts/Cormorant-VariableFont_wght.ttf"), format("truetype");
    
}

html {
    
    /* background-image: url("Images/REDWAVE.background.square.full-bspline.jpg"); */
    background-color: #000;
    background: linear-gradient(to bottom, #050907, #200);
    display: flex;
    flex-direction: column;
    
}


header {
    
    /* font-family: "Cinzel";
    color: #AAA; */
    background-image: url("Images/REDWAVE.background.square.full-bspline.jpg");
    
    text-align: center;
    position: sticky;
    top: 0px;
    
}

header img {
    
    width: 20%;
    
    z-index: 1;
    
}

nav {
    
    font-family: "Cinzel";
    color: #FFF;
    /* background-image: url("Images/REDWAVE.background.square.full-bspline.jpg"); */
    /* background-image: url("Images/shutterstock_2369797369.jpg"); */
    
    position: sticky;
    top: 0px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

nav h2 {
    
    background: linear-gradient(to bottom, #5007, #b107);
    
    padding: 5px;
    border: 3px groove #000a;
    margin: 10px;
    
    border-radius: 2px;
    
}

nav h2:hover {
    
    color: #000;
    background: linear-gradient(to bottom, #b10, #900);

    cursor: pointer;
    transition: 0.3s;
    
}

main {
    
    margin-top: 10px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    font-family: "Cormorant";
    
}

a {
    
    text-decoration: none;
    color: #fff;
    
}

a:visited {
    
    color: #eee;
}

a:hover {
    
    color: #000;
    
}

#links {
    
    display: flex;
    flex-direction: column;

}

.link {
    
    
    color: #efe;
    background: linear-gradient(to bottom, #555855, #645555);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
            
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 5px;
    
    margin-bottom: 5px;
        
    border-radius: 15px;
    font-size: 20px;
    
}

.link:hover {
    
    color: #000;
    background: linear-gradient(to bottom, #b10, #900);
    /* box-shadow: 0 0 15px 10px rgba(0, 0, 255, 0.5); */
    
    cursor: pointer;
    transition: 0.3s;
}

.link img {
    
    padding-right: 20px;
    z-index: 0;
    
    position: relative;
    
}

#releases {
    
    display: none;
    flex-direction: column;
    justify-content: center;
    
    
}

#releases div {
    
    align-items: center;
    justify-content: center;
    text-align: center;
    
    padding-bottom: 50px;
    border-bottom: 2px solid #800;
        
}

#releases div iframe {
    
    margin-bottom: 20px;
    
}

#releases h2 {
    
    color: #d03;
    background: linear-gradient(to bottom, #000, #903);

    font-family: "Cinzel";
    padding: 4px;
    border: 1px groove #f306;
    border-radius: 4px;
    margin: 50px;
    
}

#releases a {
    
    color: #000;
    
}


.songlink {

    background: linear-gradient(to bottom, #a00, #e20);
        
    font-size: 17px;
    padding: 10px;
    margin: 10px;
    
}

.songlink:hover {
    
    color: #A03;
    background: linear-gradient(to bottom, #a00, #f03);
    /* box-shadow: 0 0 15px 10px rgba(0, 0, 255, 0.5); */
    
    cursor: pointer;
    transition: 0.3s;
    
}

footer {
    
    text-align: center;
    margin-top: 50px;
    font-family: "Cinzel";
    color: #AAA;
    
}

@media only screen and (max-width: 1000px) {
    
    body {
        
        zoom: 210%;
        
    }
    
    #releases {
        
        zoom: 150%;
        
        
    }
    
    #releases a {
        
        font-size: 17px;
        
    }
    
    #releases div {
        
        display: flex;
        flex-flow: column;
        
    }
    
    #releases div iframe {
        
        width: 75%;
        height: auto;
        
    }
    
    header img {
        
        width: 100%;
        
    }
    
}
