@font-face {
    font-family: "Merriweather";
    src: url("Fonts/Cinzel-Regular.ttf"), format("truetype");
    
}

html {
    
    background-color: #111;
    display: flex;
    flex-direction: column;
    
}


header {
    
    text-align: center;
    position: sticky;
    top: 0px;
    
    font-family: "Merriweather";
    color: #AAA;
    
    margin: 20px;
    
}

nav {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0px;
    
    font-family: "Merriweather";
    color: #FFF;
    background-image: url("Images/shutterstock_2369797369.jpg");
    
    margin-bottom: 20px;
    
}

nav h2 {
    
    background-color: #000a;
    
    padding: 10px;
    margin: 15px;
    
    border-radius: 2px;
    
}

nav h2:hover {
    
    color: #A00;
    background-color: #000;
    
    cursor: pointer;
    transition: 0.3s;
    
}

main {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    font-family: "Merriweather";
    
}

a {
    
    color: #A00;
    background-color: #AAA;
    
    padding: 15px;
    margin: 10px;
    
    border-radius: 10px;
    
}

a:visited {
    
    color: #A0A;
    
}

a:hover {
    
    color: #A03;
    background-color: #000;
    
    cursor: pointer;
    transition: 0.3s;
    
}

#links {
    
    display: flex;
    flex-direction: column;

}

.link {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #AAA;
        
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 15px;
    
    border-radius: 15px;
    font-size: 20px;
    
}

#releases {
    
    display: none;
    flex-direction: column;
    justify-content: center;
    
    color: #A00;
    
}

#releases div {
    
    margin: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
        
}

#releases a {
    
    padding: 10px;
    margin: 10px;
    
}

footer {
    
    text-align: center;
    margin-top: 50px;
    font-family: "Merriweather";
    color: #AAA;
    
}

@media only screen and (max-width: 1000px) {
    
    html {
        
        zoom: 150%;
        
    }
    
}
